/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


#header {
  height: 300px;
  background-color: blue;
  position: relative;
}

#headerImage {
  width: 100%;
  min-width: 800px;
  height: 100%;
  position: relative;
}

#headerBar {
  width: 100%;
  height: 45px;
  background-color: white;
  position: relative;
}

#headerIcon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 950px;
}

#sidebar {
  font-size: 14px;
  width: 250px;
  margin-top: 100px;
  margin-left: 30px;
  float: left;
}

#content {
  width: 600px;
  margin-top: 100px;
  background-color: white;
  position: absolute;
  left: 300px;
}

#footer {
  font-size: 12px;
  clear: left;
  color: #657786;
  margin-left: 30px;
}

body {
  margin: 0;
  background-color: #e6ecf0;
}

#tweets {
  position: relative;
  left: 70px;
  font-size: 14px;
}

#tweets img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  position: absolute;
  top: -5px;
  left: -60px;
}

#tweets #name {
  font-weight: bold;
}

.gray {
  color: #657786;
}

.btn {
  font-weight: bold;
  color: white;
  background-color: #58d2ff;
  padding: 5px 20px;
  border-radius: 30px;
  text-decoration: none;
}

#tweetBtn {
  position: absolute;
  top: 15%;
  left: 1000px;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #58d2ff;
  border-radius: 30px;
  text-decoration: none;
}

.footerLink {
  text-decoration: none;
  color: #657786;
}

.footerLink:hover {
  color: #42b4ff;
  text-decoration: underline;
}

#url {
  color: #42b4ff;
  text-decoration: none;
}

#url:hover {
  text-decoration: underline;
}

#icon {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 30px;
  border: 5px white solid;
}
