<p>&copy; 2018 Twitter&ensp;
  <a href="https://about.twitter.com/ja.html" class="footerLink">Twitterについて&ensp;</a>
  <br><a href="https://help.twitter.com/ja" class="footerLink">ヘルプセンター&ensp;</a>
  <a href="https://twitter.com/tos" class="footerLink">規約&ensp;</a>
  <a href="https://twitter.com/privacy" class="footerLink">プライバシーポリシー&ensp;</a>
  <br><a href="https://support.twitter.com/articles/20170514" class="footerLink">クッキー&ensp;</a>
  <a href="https://support.twitter.com/articles/20170451" class="footerLink">広告について&ensp;</a>
</p>