<div id="headerBar">
    <img src="/assets/icon.jpg", id="headerIcon">
    <%= link_to 'ツイート', new_tweet_path, id: "tweetBtn" %>
</div>

<img src="/assets/header.jpg", id="headerImage">
<img src="/assets/icon.jpg", id="icon">



