<h2>近畿大学</h2>
<p class="gray">@kinkidaigakuPR</p>
近畿大学総務部広報室のTwitter公式アカウントです。近畿大学ホームページの更新情報を中心に、大学に関する情報を発信していきます。 個別DMでのお問い合わせには返信を行っておりませんので、ご了承ください。
<p class="gray">◎　大阪府東大阪市
<br><a href="https://t.co/93yqCB7Cqv", id="url">instagram.com/kinkidaigakupr/</a>
<br>2010年12月に登録</p>

<p>
  <%= link_to "ツイート", new_tweet_path, class: "btn" %>
  <%= link_to "ダイレクト...", new_tweet_path, class: "btn" %>
</p>