<head>
 <meta charset="utf-8">
 <link href="application.css" rel="stylesheet">
</head>

<body>
 <% @tweets.each do |t| %>
  <div id="tweets">
  <img src="/assets/icon.jpg">
  <p><span id="name">近畿大学</span>
  <span class="gray">@kinkidaigakuPR - <%= (Time.current - t.tdate).to_i / 60 %>分前</span>
  <br><%= t.message %>
  <br><%= link_to '表示', tweet_path(t) %>
  <%= link_to '削除', tweet_path(t), method: :delete %>
  <%= link_to '編集', edit_tweet_path(t) %>
  </p></div><hr>
 <% end %>
</body>