<!DOCTYPE html>
<html>
<head>
  <title>L1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <div id="header">
      <%= render "header" %>
    </div>
    <div id="sidebar">
      <%= render "sidebar" %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <%= render "footer" %>
    </div>
  </div>

</body>
</html>
